# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Local / unused Jost TTF sources
assets/fonts/*.ttf
assets/fonts/static/*.ttf

!assets/fonts/static/Jost-Regular.ttf
!assets/fonts/static/Jost-Bold.ttf